<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于java代码调用时识别指定xml的mapper文件 -->

<mapper namespace="CleanBusiMapper">
	
	<delete id="cleanBusiData" parameterType="com.pzdf.eqihua.ops.bean.query.QCleanDataBean" >
        delete from ${tableName}
        WHERE
        compId = #{compId}
    </delete>
    
</mapper>